.accordion {
    max-width: 600px;
    width: 90%;

    &__copy {
        display: none;
        color: gray;
        line-height: 1.6;

        &--open {
            display: block;
        }
    }
}

button {
    color: blue;

    &:hover {
        opacity: 0.5;
    }

    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    &.isLoading {
        color: green;
    }

    & + button {
        margin-top: 10px;
    }
}

$var: 'nana';
.first {
    content: $var;
}
$var: 'like';
.second {
    content: $var;
}

$font_size: 10px;
$font-size: 200px;

.underscore {
    font-size: $font_size;
}

.hypen {
    font-size: $font-size;
}

$name: 'cart';
.icon-cart {
    background-image: url('/icons/#{$name}.png');
}

$color-accent: #0000ff;

:root {
    --color-accent: #{$color-accent};
    --color-accent-100: #{rgba($color-accent, 0.07)};
    --color-accent-200: #{rgba($color-accent, 0.2)};
    --color-accent-300: #{rgba($color-accent, 0.4)};
}

$position: top;
$height: 200px;
.header {
    position: fixed;
    #{$position}: 50px;
    background-image: url('/icons/#{$name}.png');
    width: calc(100vh - #{$height});
}

$size: 100;

$var: 'Nana';

.hello {
    background-image: url('/images/#{$var}.png');
}

.h1 {
    // ! TODO: 인라인 주석 테스트
    margin: 0 auto; // asdf
}

// 수정 테스트
